/.idea
_temp/**/*.zip
/compiled
/cache
/fivecms/design/compiled
/fivecms/json/strace
fivecms/cml/temp
fivecms/json/temp
payment/Sberbank/log
!files/originals/*
files/**/*.jpg
files/**/*.jpeg
files/**/*.png
!files/tiffany-two-models-1.jpg
!files/gold.jpg
!files/delete.png
!files/silver.jpg
