/.idea
_temp/**/*.zip
compiled/adaptive_wide/*
compiled/mobile/*
compiled/mail/*
compiled/Zolotomania/*
compiled/mobile_mod/*
cache/**/*.*
fivecms/design/compiled*
!files/originals/*
files/**/*.jpg
files/**/*.jpeg
files/**/*.png
!files/tiffany-two-models-1.jpg
!files/gold.jpg
!files/delete.png
!files/silver.jpg
fivecms/cml/temp/
fivecms/json/temp/*
payment/Sberbank/log
payment/SberbankCredit/log
