ul.tabs li,
.box .journal-filter ul li,
#journal-filter-0,
#adminset_show,
.h2,
.box-heading,
#relproduct,
.pagination a.selected:hover,
.pagination a.selected {
background-color: #5d5c5c;
}
.mainproduct, #hitproduct, #relproduct,.mainproduct.blue, .attention.blue{background-color: #5d5c5c;}
.pagination a.selected:hover,
.pagination a.selected {
border-color: #eb5858;
}
a,
.breadcrumb,
.product_title,
.titlecomp,
.cutmore,
#blogline .post_title,
.connect .contact-methods a {
color: #626161;
}
.addcompare svg,
.towish svg {
fill: #ea2e49;
}
.gocompare svg:hover,
.inwish svg:hover,
.addcompare svg:hover,
.towish svg:hover {
fill: #505050;
}
.gocompare svg,
.inwish svg {
fill: #717171;
}
.qwbox span a:hover {
background-color: #a19b9b;
}
#footer .column svg {
fill: #717171;
}
.box-heading,
#adminset_show span,
#super-menu > ul > li > a,
.connect .contact-profiles a {
color: #ffffff;
}
.footerbody,#footer {
background-color: #f2f2f2;
}
.connect .contact-profiles div, .connect div span {
background-color: #5d5c5c;
}
.breadcrumb,
.side-shade,
.side-shade2,
#column-left,
#column-right {
background-color: #ffffff;
}
#column-right .box-content > ul > li > a:hover,
#column-right .box-category > ul > li > a:hover,
#column-left .box-content > ul > li > a:hover,
#column-left .box-category > ul > li > a:hover {
background-color: #ffffff;
}
#column-right .box-content ul li,
#column-left .box-content ul li {
color: #333745;
}
#container {
background-color: #ffffff;
}
.buttonred {
background-color: #eb5858;
border: 0px solid #eb5858;
}
.buttonred:hover {
background-color: #505050;
color:#ffffff;
}
.connect {
background: #ffffff;
border: 1px solid #d4d4d4;
}
.tiny_products .product {
box-shadow: 0 15px 10px -14px #9d9cab;
}
.tiny_products.owl-carousel .product {border: 2px solid transparent;box-shadow:none;background:#ffffff;}
.tiny_products .product:hover {border: 1px solid #d5d5d5;}
.tiny_products.owl-carousel .product:hover {
background:#ffffff;
border: 2px dashed #aaacac;
box-shadow: none;
}
.browsedview .product, .parentscat .product, .wishlistview .product {
background: #e4e4e4;
padding: 0px 0 6px 0px;
}
.browsedview .product:hover, .parentscat .product:hover, .wishlistview .product:hover {
background: #e3e3f3;
}
#container #blogline{border: 0px solid #dadada;box-shadow:none;background-color:transparent;padding: 8px 0px 0px 0px;}
#container .main-text{border: 0px solid #dadada;box-shadow:none;padding:5px 5px 0 5px;}
#powered p {
color: #333745;
}
body {
color: #333333;
background-color: #ffffff;
}
#carttitles td,
.cart-blue {
background: #5f6874 !important;
}
header {
background-color: #ffffff;
}
.menu,
.menu .dropdown-menu li:hover > a {
background-color: #f4f4f4;
}
#super-menu > ul > li {
border-left: 1px solid #333745;
}
.product_title:hover,
.box-content ul li a.filter-active,
.box-category a span:hover,
a:hover,
.compare:hover,
.cutmore:hover,
.connect div {
color: #ea2e49;
}
#content > h1, #footer h3 {color:#333333;}
.connect .contact-profiles div:hover {
background-color: #ea2e49;
}
header .top-hdr {
background-color: #3b3a3a;
}
.block-header__divider {background-color:transparent;}
.block-header__arrow {fill:#999;background-color:#ffffff;}
.block-header__arrow:hover {fill:#3d464d;background-color:#dadada;}
/* additional */
#column-left + #content {padding: 20px 10px 15px 30px;}
#footer .column a{font-weight:700;}
#powered div {border-top:1px solid #dcdbdb;}
#footer h3{border-bottom:none;padding-bottom:0;}
#footer .column ul{margin-top:3px}
#container {-webkit-box-shadow:none;box-shadow:none;}
.side-shade, .side-shade2, #column-left{outline:none;}
#column-left .box .box-heading {padding: 6px 0 6px 10px;border-radius:5px;height:auto;line-height:normal;}
#content > h1 {font-size:22px;margin: -23px -10px 5px -15px;}
.product-filter {box-shadow:none;border:1px solid #d5d5d5;}
#column-left .box .box-content {margin: 5px 0;}
.mainproduct .bloglink {color:#add8f0;}
.mainview .blogline{background-color:#f7f7f7;border:1px solid #d2d2d2;border-top:0;}
.bloglink:hover{color:#d2cece;}
.blogposts .blogitem_wrapper:nth-child(odd), .blogposts:nth-child(odd) .blogitem_wrapper {background-color: #f5f5f5;}
ul.super-menu > li > a, .cart, .dropdown-menu li:hover a{color:#333333;}
.dropdown-menu li:hover > a svg{fill:#333333;}
.topinfowrapper svg, .cart svg{fill:#717171;}
.topinfowrapper svg:hover {fill:#a5a1a1;}
.menu-icon span{background-color:#717171;}
.menu {
-webkit-box-shadow: 0 0px 2px rgba(62, 61, 61, 0.50);
box-shadow: 0 0px 2px rgba(62, 61, 61, 0.50);
}
.searchchoose,#search .button_search,#search .input_search,.listsearch{border: 1px solid #d3cece;}
#search .button_search{background-color:#ffffff;border-right:0;}
.searchchoose{background-color:#e9e9e9;line-height:40px;border-left:0;}
.listsearch li {padding-left:6px;}
.wishlistview .product {margin-right:10px;}
#last_products li > .image{border:0;}
