*{margin:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow-wrap:break-word;outline:none;}
#body{width:320px; height:720px; display:block;position:absolute; right:70px; top:70px;overflow:hidden;font-family:Arial,tahoma,sans-serif;-webkit-font-smoothing:antialiased;font-size:15px;color:#333333;min-width:280px;}
#body.dontmove{overflow-y:hidden;}
input[type="submit"], input[type="button"],.buttonred, .buttonblue, button, textarea {-moz-appearance: none; -webkit-appearance: none;}
-webkit-tap-highlight-color: transparent;
textarea{font-size:17px;}
li{text-align:left;}
a, .product .purchasestitle{outline:none;}
a{cursor:default;}
.product h3 a, .comment_list h3 a, .various, .image a, .product_info a, .hidetitle{text-decoration:none;}
.readmore{text-decoration:none;font-weight:700;}
.comment_list li:nth-child(even), li .comment_admin, li .comment_admint{background-color:#F6F6F6;}
.comment_list li, li:nth-child(even) .comment_admin, li:nth-child(even) .comment_admint{background-color:#FFFFFF;}
.comment_list li li:nth-child(even),
.comment_list li ul li,
li:nth-child(even) .comment_admin ul li,
li:nth-child(even) .comment_admint ul li{background-color:transparent;}
.comment_form, .feedback_form, .cart_form, #gallerypic .product{background-color:#F7F7F7;}
img{border:none;}
ul{padding-left:0;}
#container{width:100%;z-index:97;position:relative;overflow:hidden;top:50px;max-width:1024px;margin:0 auto;}
.breadcrumb{background:#333745;padding:6px 10px;position:relative;clear:both;z-index:9;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;font-size:14px;font-weight:700;top:50px;}
.breadback svg{height:24px;width:24px;}
.breadcrumb a{display:inline-block;height:24px;width:24px;vertical-align:middle;float:left;}
.breadcrumb span{display:table;vertical-align:middle;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;line-height:20px;}
.main-text{margin:15px;display:table;font-size:13px;}
.main-text p{font-size:13px;}
.mainview{text-align:center;display:inline-block;width:100%;}
#slider {text-align:center;padding:0;font-size:0px;max-width:100%;margin:3px 0;display:block;}
/*#slider {box-shadow: 0 4px 6px 0 rgba(0,0,0,.1), 0 2px 4px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1); -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,.1), 0 2px 4px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1);}*/
.swipe {overflow:hidden;visibility:hidden;position:relative;}
.swipe-wrap {overflow:hidden;position:relative;padding:0;display:-webkit-box;}
.swipe-wrap > div {float:left;width:100%;position:relative;overflow:hidden;margin:0;padding:0;}
#slider img {margin:0;padding:0;width:100%;}
.sliderdots {display:table;width:100%;position:absolute;margin-top:-28px;}
.dotswrapper {display:table;margin:0 auto;}
.dotswrapper .dot {display:inline-block; width:10px;height:10px;border-radius:50px;background-color:#ffffff;border:2px solid #737373;margin:0 3px;}
.dotswrapper .active {background-color:#b7b6b6;}
.maincatalog {display:table;padding:9px 14px;color:#ffffff;background-color:#eb5858;margin-bottom:15px;width:100%;font-weight:700;text-align:left;text-transform: uppercase;}
.h-separator{display:table;height:10px;}
.tab-content{padding:15px;margin-bottom:20px;z-index:2;overflow:auto;}
.tab-content p{font-size:13px;color:#333745;margin-bottom:0;}
.back-top{position:fixed;z-index:999;bottom:10px;right:20px;max-width:45px;max-height:45px;}
.nodiscount{width:300px;height:2px;float:left;margin-right:20px;}
div.product .imagebig{text-align:center;vertical-align:middle;border:0px solid #e0e0e0;float:left;padding:0 0 5px 0;margin:0 20px 0px 0;width:310px;height:300px;line-height:300px;}
.product .imagebig .image{text-align:center;border:0px solid #e0e0e0;float:left;padding:0px;margin-right:0px;vertical-align:middle;}
.product .imagebig .image img{vertical-align:middle;border:0px;}
.imagebig .big_middle{display:inline-block;vertical-align:middle;}
.imagebig, .big_middle{position:relative;}
.product .images .imagesmall img{float:none;margin:0;padding:0;max-width:85px;max-height:85px;width:auto;border:0px;}
.product .images .imagesmall{height:85px;line-height:82px;width:85px;margin:0 10px 10px 0;}
.product .images #small_img_2{margin:0 10px 0 11px;}
.product .imagesmall{border:1px solid #E0E0E0;float:left;padding:5px;text-align:center;vertical-align:middle;}
.product .imagesmall img{vertical-align:middle;}
#imgvisible{visibility:visible !important;}
.images .cloud-zoom-gallery{display:none;}
.images .zoom{display:none;}
.big_middle #wrap{overflow:hidden;}
#wishlist{padding:0px 13px 0px;overflow:hidden;}
.wishprod{float:left;}
#prod_right .wishprod{float:right;margin-top:0px;}
#wishlist .comparetumb img{max-width:25px;max-height:25px;margin-top:2px;}
#wishlist li a{font-size:11px;color:#505050;text-decoration:none;text-transform:none;display:table-cell;vertical-align:middle;}
#wishlist a.titlecomp{font-size:15px;font-weight:700;text-decoration:none;text-transform:none;}
#wishlist .comparetumb span{width:25px;text-align:center;display:table-cell;}
#wishlist .clearcompare{text-align:right;font-size:11px;text-transform:uppercase;font-weight:700;margin-bottom:7px}
#wishlist .makecompare{float:left;font-size:11px;text-transform:uppercase;font-weight:700;}
#wishlist ul{margin:15px 0;list-style:none outside none;}
#wishlist li{height:25px;clear:left;display:table;margin-bottom:3px;}
#wishlist ul li img{vertical-align:middle;}
#wishlist .comparetumb{float:left;margin-right:5px;margin-bottom:0;}
#wishlist h2{margin-top:3px;}
.gocompare, .addcompare, .inwish, .towish{display:inline-block;height:36px;width:36px;}
.wishcomp svg{height:36px;width:36px;}
svg.nophoto{height:50%;width:50%;display:inline-block;vertical-align:middle;}
#swipeimg svg.nophoto{height:90%;width:70%;}
.compare, .wishprod{float:left;}
.product .description .variants{padding:15px 15px 20px 15px;display:table;width:100%;}
.ratecomp{width:100%;display:table;}
.titlecomp{font-size:18px;font-weight:400;margin-bottom:10px;}
#wishlist .wish-title{margin-top:3px;margin-bottom:10px;}
.heading{color:#1A457D;font-size:26px;margin-bottom:10px;}
a.adata{text-decoration:none;color:#505050;}
.compare_price{text-decoration:line-through;vertical-align:top;}
.product .wishcomp{display:table;margin-top:0px;}
.tiny_products .wishcomp{width:auto;float:right;margin:0;}
.tiny_products .wishprod{margin-left:8px;}
.description .testRater{margin:0 0 10px 15px;width:180px;float:left;}
.description .wishcomp{float:right;margin-right:15px;}
.description .wishcomp svg, .description .wishcomp a, .description .compare{height:40px;width:40px;}
.description .wishprod{margin-left:5px;}
#swipebox{clear:left;padding-top:20px;text-align:center;}
#swipebox a{border-bottom:0 !important;}
#swipebox-prev, #swipebox-next{display:none;}
#fancybox-wrap, div.product .imagebig, .tiny_products .product, #fancybox-close, #fancybox-content, #fancybox-outer, .annotation, h3, .ratecomp, .wishprod, .product .image, #purchases1 .purimage, .c_total, .product .imagesmall{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
p{font-size:15px;margin-bottom:10px;}
h1{font-size:16px;margin-bottom:10px;font-weight:700;}
h2{clear:both;font-size:16px;margin-bottom:10px;font-weight:700;}
h3{font-size:16px;margin-top:0px;margin-bottom:10px;font-weight:700;}
#blog{list-style:none;}
ul.stars, #content .post-pg ul, #content .page-pg ul, #content .blog-pg ul, #content ol, .post-annotation ul div {margin-bottom:10px;}
.post-pg, .page-pg, .blog-pg{margin:15px;}
.comment_list img, .blog-pg img, .page-pg img, .post-pg img{max-width:100%;}
#content img{height:auto;}
#banners img, .mainview img{max-width:100%;}
.bluelink{border-bottom:1px dashed #0D679A;text-decoration:none;color:#0D679A;}
#content ul li{list-style:none outside none;}
#content ol li{line-height:23px;}
.comment_list li ul li, ul.stars li, #annot ul li, .description ul li, .annotation ul li, .box .main-text ul li, #content .blog-pg ul li, #content .post-pg ul li, #content .page-pg ul li, .post-annotation ul div {background:url("/js/bullet-body.png") 0px 8px no-repeat transparent;font-weight:400;list-style:none outside none;padding:6px 10px 6px 20px;line-height:19px;}
.product .features{list-style:none;width:100%;display:block;clear:both;margin-top:0px;margin-bottom:0px;border-bottom:1px solid #e0e0e0;}
.product .features li{display:table;padding:0px;overflow:hidden;border-top:1px solid #e0e0e0;width:100%;min-height:30px;}
.comment_list li{padding:10px 5px 10px 5px;overflow:hidden;}
.comment_admin{margin:0;padding:7px 10px;border-radius:0 5px 5px 5px;border:1px dashed #DADADA;margin-top:-1px;position:relative;z-index:1;}
.comment_admint{margin:15px 0 0 0;padding:3px 11px;border-radius:5px 5px 0 0;font-weight:700;width:155px;border-top:1px dashed #dadada;border-left:1px dashed #dadada;border-right:1px dashed #dadada;position:relative;z-index:5;}
.product .features label{font-style:normal;display:table-cell;width:40%;vertical-align:middle;padding:10px;border-right:1px solid #e0e0e0;word-break:break-word;}
.product .features label.lfeature{width:60%;border-right:0px solid #e0e0e0;}
.product .features p{float:left;display:block;width:70%;}
.product .compare_price{font-size:13px;text-decoration:line-through;white-space:nowrap;color:#707070;}
.product .price, .product .pricecolor{white-space:nowrap;margin:0px 0 5px 0;font-size:22px;}
.product div.price span, .product div.pricecolor span{display:inline-block;margin:0;}
.product .currency{font-size:14px;white-space:nowrap;font-weight:700;}
.product .variant_name{float:left;margin-right:10px;font-size:12px;}
.product .variant_radiobutton{margin-right:5px;margin-left:0px;}
#back_forward{font-size:13px;padding:10px 15px 0 15px;clear:both;display:table;width:100%;margin-top:10px;font-weight:700;}
#back_forward a.prev_page_link, #back_forward a.prevv_page_link{margin-right:10px;}
#back_forward a{border-bottom:0;}
span.prev_page_link, span.prevv_page_link{float:left;margin-bottom:10px;}
span.next_page_link, span.nextt_page_link{float:right;margin-bottom:10px;}
.button{float:left;clear:left;}
.buttonred{border:0px solid #EB1C24;display:inline-block;font-size:14px;font-weight:700;padding:8px 12px 7px !important;text-decoration:none;color:#FFFFFF;text-transform:uppercase;}
.button{font-family:arial;font-size:18px;font-weight:bold;padding:11px 30px;text-decoration:none;text-transform:uppercase;line-height:18px;text-align:center;}
#b1c, .b1c{font-size:13px;padding:4px 20px 7px;}
.feature_values{display:table;padding:0px;font-size:15px;}
.feature_values li{list-style:none;margin-top:0px;}
.feature_values li label{display:table;padding:8px 0 7px 0;width:100%;}
.feature_values input[type="checkbox"]{margin-right:6px;}
.feature_values li .chbox{vertical-align:middle;display:table-cell;font-size:1px;width:19px;}
.feature_values li span{vertical-align:middle;display:table-cell;line-height:0px;}
.pagination{margin:0px 0 5px 0;padding:0px 0 0 15px;}
#page_navigation{margin-top:0px;margin-bottom:0px;}
.pagination a, .pagination .butpag{display:block;float:left;background-color:#fffeff;margin-right:7px;margin-bottom:5px;padding:8px 0;min-width:35px;height:35px;text-align:center;border:1px solid #d7d7d7 !important;text-decoration:none;font-weight:700;font-size:15px;color:#1B6F9F;}
.pagination a:hover, .pagination .butpag:hover {background-color:#e6e6e6;}
.pagination a.next_page_link, .pagination a.prev_page_link{padding:5px 3px 5px 3px;}
.v-middle{font-size:18px;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"],
.formCost input{width:100%;font-size:17px;padding:6px 10px;}
.form textarea{width:100%;height:100px;}
.form label{display:block;padding-bottom:7px;font-weight:700;}
.form input[type="text"], input[type="email"], .form input[type="tel"]{display:block;margin-bottom:10px;}
.cart_form .button, #orderform .button{width:100%;font-size:17px;padding:15px 0px;}
label.ch_passw{margin-bottom:10px;}
h2.your_orders{margin-top:20px;}
.comment_list{margin-top:15px;list-style:none;}
.comment_list li{border-bottom:1px solid #EFEEEE;padding:15px;}
.comment_list li:last-child{border-bottom:0px solid #EFEEEE;}
.comment_list div{text-align:justify;}
.comment_header{background:url("../images/user.png") 0px 0px no-repeat transparent;font-weight:700;padding-left:16px;margin-bottom:6px;}
.comment_header i{font-weight:normal;font-style:normal;color:#878787;font-size:13px;}
.comment_form{border:1px solid #dadada;padding:13px 15px 15px 15px;margin-top:20px;width:auto;overflow:hidden;}
.comment_form h2{margin-bottom:10px;}
.comment_form .comment_textarea{width:100%;height:100px;}
.comment_form label{display:block;padding:7px 0;}
.comment_form .captcha, .cart_form .captcha{float:left;display:block;margin-right:10px;}
.captcha-block{display:table;clear:both;width:100%;margin-top:15px;}
.comment_form .button,
.feedback_form .button,
.register_form .button,
.cart_form .button,
#orderform .button{display:block;margin:15px 0 0px 0;}
.login_form .button{float:left;display:block;margin-top:12px;margin-right:0px;clear:none;width:47%;margin-top:20px;}
.feedback_form, .cart_form{border-top:1px solid #dadada;padding:15px 15px 15px 15px;margin-top:20px;width:100%;overflow:hidden;margin-bottom:0px;}
.feedback_form h2{text-transform:uppercase;}
.feedback_form .input_captcha, .comment_form .input_captcha, .cart_form .input_captcha{float:left;width:100px;font-size:24px;font-weight:bold;text-transform:uppercase;height:44px;text-align:center;}
.feedback_form .captcha{float:left;display:block;margin-right:10px;}
.register_form .input_captcha{width:100px;font-size:24px;font-weight:bold;text-transform:uppercase;margin-top:15px;height:44px;text-align:center;}
.register_form .captcha{float:left;display:block;margin-top:15px;margin-right:10px;}
.feedback_form .button_send{font-size:18px;float:right;margin-top:25px;}
.purchaseslist{display:table;width:100%;list-style:none;margin:1px 0 25px 0;}
.purchaseslist .purchase{width:100%;display:table;padding:10px;vertical-align:top;min-width:210px;background-color:#F0F0F0;}
.purchaseslist .purchase:nth-child(even){background-color:#F8F8F8;border-top: 1px solid #d8d8d8;border-bottom: 1px solid #d8d8d8;}
.purchaseslist .image{display:table-cell;height:auto;line-height:inherit;width:80px;padding:5px;border:1px solid #dadada;margin-bottom:0px;text-align:center;vertical-align:middle;}
.purchaseslist .image img{max-height:62px;vertical-align:middle;background-color:#FFFFFF;min-height:40px;max-width:62px;}
.purchaseslist .product_info{padding:0 0 3px 10px;height:auto;}
.purchase-remove{float:right;display:block;position:relative;margin-left:15px;}
.purchase-remove svg, .wish-remove svg{height:30px;width:30px;}
.have-no svg{height:50%;width:50%;margin-top:30%;}
.have-no{text-align:center;}
.comphaveno svg{margin-top:15% !important;}
.purchaseslist h3{font-size:16px;margin-bottom:10px;display:table;font-weight:700;height:40px;}
.purchase .price{display:inline-block;margin-right:5px;}
#purchases .coupon .name{font-size:14px;}
#purchases .coupon .name input.coupon_code{width:240px;height:23px;}
#purchases .coupon .name input{font-size:16px;}
.cart-back{margin:20px 0 25px 0;padding:0px 15px;}
.cart-back a{white-space:nowrap;font-size:14px;}
.buttonblue{padding:9px 20px;font-size:15px;text-decoration:none;border:0;font-weight:700;text-transform:uppercase;}
.navigation-pane{display:table;width:100%;padding:15px;}
.navigation-pane .left{float:left;}
.navigation-pane .right{float:right;}
.navigationblue{font-size:22px;border:0;font-weight:700;width:32px;height:32px;line-height:28px;text-align:center;}
.c_discount{float:left;padding:0 0 0 15px;font-weight:700;margin:0 10px 13px 0;}
.c_coupon{float:right;width:260px;padding:15px;margin:0 0 16px 10px;border-radius:20px 0 0 20px;border:1px solid #cccccc;box-shadow: 0 4px 4px 0 rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.05),0 1px 1px 0 rgba(0,0,0,.05);-webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.05),0 1px 1px 0 rgba(0,0,0,.05);}
.c_total{float:left;clear:left;padding:15px;color:#FFFFFF;border-radius:0 20px 20px 0;box-shadow: 0 4px 4px 0 rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.05),0 1px 1px 0 rgba(0,0,0,.05);-webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.05),0 1px 1px 0 rgba(0,0,0,.05);}
#price-delivery-total{white-space:nowrap;}
.c_total p{font-size:17px;font-weight:700;margin-bottom:0;text-transform:uppercase;}
#price-th-1{display:block;padding-top:5px;font-weight:400;line-height:20px;}
.c_coupon input.coupon_code{width:100%;}
.c_coupon input.buttonblue{margin-top:10px;}
.c_coupon .c_title{color:#1B6F9F;font-weight:700;text-transform:uppercase;}
.c_discount p{margin-bottom:0;line-height:25px;}
.purchases_middle{display:table;width:100%;margin-bottom:20px;}
.c_coupon .coupondisc{margin-top:10px;display:block;}
.purchaseamount{display:inline-block;}
.purchaseamount input {width:45px;font-size:19px;font-weight:700;border: 2px solid #A9A6A6;padding:2px 4px;}
.purprice{font-size:19px;font-weight:700;}
.purcurr{font-size:14px;font-weight:700;}
.purx{font-size:14px;font-weight:400;}
#price-th-2{margin-top:10px;font-weight:400;}
.cart-blue{overflow:auto;padding:4px;margin-top:5px;}
.cart-blue h2{color:#ffffff;margin:0px;font-size:15px;font-weight:700;clear:none;vertical-align:middle;display:inline-block;text-transform:uppercase;line-height:21px;}
.whitecube{color:#5F6874;background:#ffffff;float:left;padding:2px 6px;margin-right:10px;}
.cart_form{margin-top:0;}
ul#deliveries{margin-top:20px;margin-bottom:20px;padding:0 10px;list-style:none;}
ul#deliveries li{margin-bottom:20px;display:table;width:100%;}
#deliveries .checkbox{float:left;line-height:17px;margin-right:10px;}
#deliveries .checkbox input{display:inline-block;margin:0;vertical-align:middle;}
.deliverywrapper label{display:inline-block;vertical-align:middle;}
ul#deliveries li h3, ul#deliveries li .description{display:block;margin:10px 0 0 0;}
ul#deliveries select{font-size:15px;margin-top:5px;max-width:260px;}
ul#deliveries #ems-post-countries{max-width:160px;}
.ui-autocomplete-input{border:2px solid #A9A6A6;font-size:16px;padding:4px;}
.message_error{clear:both;padding:10px;margin-bottom:15px;margin-top:10px;overflow:hidden;color:red;border:2px dashed #ff4545;}
.testRater{margin-bottom:10px;}
.rater span{vertical-align:middle;}
.rater-rating{margin-top:5px;}
.rater-starsOff, .rater-starsOn{display:inline-block;height:23px;background:url(/js/rating/stars.png) repeat-x 0 0px;}
.rater-starsOn{display:block;max-width:115px;top:0;background-position:0 -22px;}
.rater-starsHover{background-position:0 -44px!important;}
.rater .test-text{display:inline-block;font-size:10px;vertical-align:top;margin-top:3px;}
.rater .rater-rateCount{font-size:10px;vertical-align:top;}
.catrater{margin-bottom:3px;float:right;}
.testRater_sm{margin-bottom:7px;margin-left:15%;}
.rater_sm span{vertical-align:middle;font-size:9px !important;}
.rater-rating_sm{margin-top:3px;}
.rater-starsOff_sm, .rater-starsOn_sm{display:inline-block;height:11px;background:url(/js/rating/stars_small.png) repeat-x 0 0px;}
.rater-starsOn_sm{display:block;max-width:60px;top:0;background-position:0 -22px;}
.rater-starsHover_sm{background-position:0 -44px!important;}
.hideBtn{background:transparent url('../images/arr-rs.png') no-repeat right center;}
.hideBtn.show{background:transparent url('../images/arr-ds.png') no-repeat right center;}
.hidefeaturesbtn{display:block;width:37px;height:37px;position:fixed;z-index:150;right:0px;top:55px;opacity:0.8;border-radius:5px 0 0 5px;text-align:center;}
.hidefeaturesbtn svg{display:inline-block;margin-top:7px;width:24px;height:24px}
#features.features{left:-2000px;position:absolute;}
#features.show{left:initial;position:relative;z-index:100;}
.feature_values{display:none;}
.hidetitle{font-size:16px;font-weight:700;margin-bottom:0px;padding:8px 0 8px 0px;width:100%;}
.hidetitle a{font-size:16px;font-weight:700;text-decoration:none;}
.hidetitle svg{height:16px;width:16px;}
.hidetitle.show svg{-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);}
.feat-block a{display:inline-block;}
ul#deliveries li #hideCont{display:none;margin-top:10px;}
.delivery-header{font-weight:700;margin:0 10px 0 0;line-height:17px;vertical-align:top;font-size:17px;}
#orderform .button{margin:0 0 15px 0;}
.deliverywrapper{display:table;}
.ordersummary p{font-weight:700;}
.orderstatus{font-size:17px;font-weight:700;}
.description{padding:0;}
.brand-sku-category p{float:left;margin-right:20px;white-space:nowrap;font-weight:700;}
.brand-sku-category a{font-weight:700;}
.brand-sku-category .catname a{white-space:normal;}
.buttonsblock{display:table;width:100%;}
#reset_payment{margin:10px 0 25px 0;border: 1px solid #cccccc;font-size:14px;padding:11px 0;width:100%;}
.checkout_button{margin-top:10px;font-weight:700;font-size:18px;padding:11px 0;text-transform:uppercase;width:100%;}
input[name="to"]{width:250px;border:1px solid #C9C9C9;padding:3px 5px;font-size:18px;display:block;margin:10px 0;}
input[type="radio"]{margin:3px 0 0 0;padding:0;border:0;}
input[type="checkbox"]{margin:0;padding:0;border:none;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
img.user{vertical-align:middle;margin-right:5px;margin-bottom:2px;}
span.cart{vertical-align:middle;float:left;margin-right:10px;}
span.cart img{height:28px;}
.minorder{display:table;margin:0 0 15px 0;text-align:center;padding:10px;width:100%;}
.dateico span{font-size:10px;}
.dateico img{margin-right:5px;vertical-align:middle;}
.dateico a.post_title{display:block;margin:3px 0 6px 0;text-align:justify;font-weight:400;font-size:12px !important;}
li.dateico{margin:0px 0 0 0;}
.blog_annotation{font-size:12px;text-align:justify;}
.blog_annotation p{margin-bottom:5px;font-size:12px;}
.post_title{padding-left:0px !important;}
.martline li.dateico{float:left;margin:0px 18px 0px 0;width:197px;}
.martline li.dateico:last-child{margin-right:-1px;}
.martline{clear:both;overflow:hidden;margin-top:10px;padding-bottom:7px !important;}
.response q{font-size:12px;}
.response a{font-size:12px;}
.response p{text-align:justify;}
div.bordercell{padding:40px;border:1px solid #cAcAcA;text-align:center;width:650px;margin:0 auto;font-size:15px;}
div.product{margin-top:15px;}
input, textarea, select, button{outline:none;}
#purchases1 .amount select{font-size:12px;min-width:55px;}
.feature_values .sort select{color:#6A6969;font-size:11px;margin:0;max-width:180px;}
.product-filter span{display:block;float:left;margin-top:11px;}
.product-filter{display:table;width:100%;padding:15px;}
.product-filter .sort{float:left;font-weight:700;margin:0px;}
.product-filter select{margin:7px;font-size:16px;}
.product-filter .display{float:right;margin:7px 0 0 0;}
.product-filter .display_num{float:left;margin:0px 5px 0 0;font-weight:700;}
.tiny_products .hit{position:absolute;width:70px;height:30px;}
.tiny_products .new{position:absolute;width:100px;height:30px;}
.tiny_products .lowprice{position:absolute;width:89px;height:30px;}
.container{clear:both;padding:20px 0 0px 0;}
.tab_container{z-index:5;position:relative;clear:both;border-top:1px solid #D9D9D9;background:#fff;}
.tab_container .product{border:none;padding:20px 0;}
#content ul.tabs li a{text-decoration:none;text-transform:uppercase;border-bottom:0;}
ul.tabs li{position:relative;z-index:0;display:table;padding:10px 15px 8px;margin-bottom:-2px;border-radius:0 10px 0 0;width:30%;float:left;margin-right:5px;text-align:center;}
ul.tabs li a{margin:0;font-size:15px;font-weight:700;overflow-wrap:normal;}
ul.tabs li.active{border:1px solid #D9D9D9;border-bottom:none;z-index:99;}
ul.tabs li.active:first-child{border-top:1px solid #C7C7C7;}
.tabs a, #comments .comm-title{padding-top:0px;}
.tab_content .features{margin:10px 0;}
.product .images{margin-bottom:0px;padding-bottom:0px;}
.product .images img{margin-bottom:0px;}
#same{display:table;padding:10px 0 10px 18px;margin:20px 0 20px 0;border:2px dashed #dadada;}
#same #relproduct{margin:0 -2px 10px -20px;}
.register_form a.button{float:left !important;}
.pagewrapper{padding:15px;border:1px solid #E0E0E0;overflow:hidden;}
.tabs h2, #comments h2{border:0px;padding:0;text-transform:uppercase;}
.postdate{font-size:12px;}
#content .postdate svg{float:left;margin-right:3px !important;}
#top_compare #menu li a{color:#505050;}
#top_compare #account a{color:#505050;line-height:24px;}
span.b-share{margin-left:2px;}
input#viewform{padding:5px 5px 6px;font-size:11px;float:none;margin:16px 0 0 10px;}
.product .description .b1c{float:none;margin-left:36px;}
#insurance-checkbox{margin:3px 5px 0 0;float:left;}
.comment_list h3{font-weight:700;}
.comment_list h3 a{text-decoration:none;}
.comment_list #path a{color:#A0A0A0;font-size:13px;text-decoration:none;font-weight:700;}
#gallerypic .product{border: 1px solid #eaeaea; padding: 0px;overflow: hidden;}
#gallerypic .product .image{background:transparent;}
#gallerypic{margin-top:20px;}
.description ul, .tab_container ul, .annotation ul{list-style-position:inside;}
.prod-back{float:left;margin-right:20px;}
#comment_phone{visibility:hidden;height:1px;width:1px;display:none;}
#aut-cost-sentence-2, #cdek-cost-sentence-2, #dl-cost-sentence-2{font-weight:700;color:#E41313;}
#tarif-list td{padding-bottom:2px;padding-top:3px;}
#content table{margin:15px 0;border-collapse:collapse;border-spacing:0px;}
#content table td, #content table th{border:2px solid #dadada !important;padding:5px !important;margin:0 !important;}
#content table td p{padding:5px !important;margin:0 !important;}
.comment_list li ul li{border-bottom:0px dotted #CFCFCF;font-size:13px;padding:3px 10px 0px 20px;overflow:hidden;}
.no-span a span{display:none !important;}
#features{clear:both;display:table;width:100%;}
#features a{border-bottom:0;}
.feature_column{width:50%;float:left;margin-top:2px;}
.mpriceslider{float:left;width:100%;}
.price-slider{clear:both;display:table;width:100%;background-color:#F1EBEB;padding:15px;}
.sliderButton input{float:left;}
.mpriceslider .curr{width:90px;margin:0;}
.pr-cost{font-weight:700;font-size:16px;}
.tomaxcurr{margin:0 5px;font-size:16px;}
.frommincurr{margin:0 5px 0 10px;font-size:16px;}
.flright{float:right;}
.brand_name{font-size:14px;font-weight:700;margin:0 0 10px 0;}
.feature_values{padding-right:7px;padding-left:2px;}
.separator{display:table;width:184px;}
.sliderpadd{padding-right:5px;}
.features-block{padding:10px 15px 15px 15px;}
#line{background:#D4CDCD;width:90%;height:5px;margin:35px auto 0 auto;}
#rele, #reletwo{width:40px;height:40px;float:left;position:relative;left:0px;top:-18px;margin-left:0px;color:#FFFFFF;transform:translate3d(0px,0px,0px);-webkit-transform:translate3d(0px,0px,0px);}
#topcontrol,
.connect div span,
.pagination a,
.pagination .butpag,
#rele,
#reletwo,
#amount .minus,
#amount .plus{-webkit-border-radius:50%;border-radius:50%;}
.ui-autocomplete-input,
.purchaseslist .image,
#gallerypic .product .image,
#content .product .image img,
.product .images img,
.product .imagebig .image,
.product .imagebig .image img,
.product .imagesmall,
.buttonred,
#purchases1 .image img,
#purchases1 .purimage,
.rounded6,
ul#deliveries,
input[name="to"],
.captcha img,
.minorder_inf,
.blog_annotation img,
.tiny_products .product,
.pagewrapper,
#gallerymain .image img,
#gallerypic .image img,
.category_products .product,
.various,
.input_captcha,
#line,
#same,
.purchaseamount input,
textarea{-moz-border-radius:8px !important;-webkit-border-radius:8px !important;border-radius:8px !important;}
.articlesimage img,
.button,
.buttonblue,
.navigationblue,
#fancybox-content,
#fancybox-outer,
#fancybox-img,
.imgwrapper img,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[name="amount"],
input[type="search"],
.formCost input,
.checkout_button,
#gallerypic .product,
#gallerypic .product .image,
#gallerypic .image img{-moz-border-radius:15px !important;-webkit-border-radius:15px !important;border-radius:15px !important;}
.formCost input, input[name="amount"]{border:2px solid #dadada;}
.tiny_products{list-style:none;display:block;text-align:center;margin-top:15px;}
.tiny_products .product h3{font-size:16px;margin-bottom:0px;display:table;font-weight:700;height:28px;}
.tiny_products .variants select{max-width:182px;font-size:13px;margin:0px;height:20px;}
.tiny_products .product{display:inline-block;vertical-align:top;border:1px solid;padding:3px;min-width:285px;max-width:350px;margin:0px 7px 14px 7px;}
.tiny_products .product .image{border:0px none currentColor;margin-bottom:0px;padding:0;text-align:center;vertical-align:middle;width:100%;height:200px;line-height:200px;border-radius:6px 6px 0 0;}
#swipeimg{background:transparent url('../images/loader.gif') no-repeat center center;}
.tiny_products .image img{max-height:90% !important;max-width:63px !important;vertical-align:middle;min-height:35px;}
.category_products{margin-top:20px;text-align:center;}
.category_products .product{display:inline-block;vertical-align:top;border:1px solid #dcd9d9;padding:3px;width:29%;min-width:170px;max-width:225px;margin:0px 7px 18px 7px;}
#content .category_products img{vertical-align:middle;max-height:146px;max-width:100%;}
.articlesimage img, .articleimage img{max-width:100%;}
.category_products .product .image{border:0px none currentColor;margin-bottom:0px;padding:0;text-align:center;vertical-align:middle;width:100%;height:160px;line-height:160px;border-radius:5px 5px 0 0;}
.category_products .product_info{display:table-cell;width:80%;padding:10px 10px 6px 10px;vertical-align:middle;}
.category_products .product_info h3{margin-bottom:0;font-size:16px;}
#wished .product_info{height:auto;}
.wish-remove{float:right;display:block;position:relative;margin-left:15px;}
.tiny_products .product_info{padding:9px 9px 0 9px;border-radius:0px 0px 5px 5px;height:148px;}
#relcontent .product_info{height:auto;}
.tiny_products .hit, .tiny_products .new, .tiny_products .lowprice{margin-left:-10px;margin-top:8px;}
.tiny_products span input[name="amount"]{width:15px;font-size:13px;padding:2px;}
.tiny_products span{font-size:12px;}
.tiny_products span.unit{font-size:15px;}
.tiny_products .pricecolor .currency, .tiny_products .price span.currency{font-size:15px;padding-left:3px;}
.tiny_products span.compare_price{font-size:13px;padding:0 3px 0 0;}
.tiny_products span.price{font-size:21px;font-weight:700;vertical-align:bottom;height:23px;}
.tiny_products span.currency{vertical-align:bottom;padding-bottom:1px;}
.tiny_products input[type="submit"]{float:left;display:block;font-size:14px;}
.tiny_products .bm_good select.p0{display:block;float:left;margin-right:10px;}
.tiny_products .bm_good select.p1{display:block;margin-top:0px;}
.tiny_products .product div.price, .tiny_products .product div.pricecolor{width:100%;display:table;height:24px;font-size:1px;margin:7px 0 9px 0;}
span input[name="amount"]{margin-top:2px;font-size:17px;}
.various{margin-left:0px;border:0px solid #143D73;display:inline-block;font-size:14px;font-weight:700;text-decoration:none;text-transform:uppercase;float:right;text-align:center;}
.various:active{background:#4E6F9B;border:0px solid #4E6F9B;color:#FFFFFF;}
#oneclick{width:100%;}
#oneclick .title{font-size:16px;color:#1A457D;margin-bottom:7px;border-bottom:1px solid #ccc;padding-bottom:10px;font-weight:700;}
#oneclick p, #oneclick li{display:block;padding:6px 0;text-align:justify;}
#oneclick li span{display:block;margin-bottom:10px;}
#oneclick input{width:100%;}
#oneclick button{float:right;margin-top:15px;font-size:18px;padding:8px 30px 7px !important;}
.onename, .onephone{border:2px solid #CCC2C2 !important;}
#oneclick .btf_error{background:#ffadad;font-weight:700;margin:10px 0px 0px 0px;border-radius:3px;display:table;width:100%;padding:5px;}
.tiny_products .variants .p0{margin-right:15px;}
#amount{display:inline-block;float:left;margin-top:10px;}
.amount{width:50px !important;text-align:center;font-size:24px !important;margin:0 5px 0 6px;}
#amount input{height:50px;display:inline-block;vertical-align:top;padding:0;}
#amount .minus, #amount .plus{width:50px;font-size:20px;font-weight:700;padding:1px 0px;}
.umnozh{padding:16px 10px 0px 10px;font-size:15px;vertical-align:middle;display:inline-block;}
.price-block{display:inline-block;white-space:nowrap;}
.price-block .price{display:inline-block;font-size:40px;font-weight:700;margin:0;}
.pricebig .price{font-size:50px;padding-top:7px;display:inline-block;margin:0;}
.price-block .currency{font-size:19px;display:inline-block;}
.price-block .compare_price{font-size:18px;height:21px;}
.description select{font-size:19px;}
.description .buttonred, .description .various{width:48%;padding:20px 5px 20px 5px !important;font-size:19px !important;}
.amount-price{display:table;margin:7px 0 5px 0;white-space:nowrap;float:left;}
.variantsblock{float:right;margin:0px 0 0px 20px;}
#noncolor{margin-bottom:7px;}
#content .logreg{float:right;color:#ffffff !important;font-size:18px;font-weight:bold;text-transform:uppercase;line-height:18px;padding:11px 20px;display:table;word-wrap:normal;}
.upl-spinner{width:100%;height:22px;min-height:22px;padding:0;margin:10px 0 10px 0;}
.upl-spinner img{width:auto !important;height:auto !important;}
#topcontrol{position:fixed;z-index:9999;bottom:20px;right:20px;border:2px solid #dadada;}
#topcontrol svg{height:40px;width:40px;margin:0 5px 5px 5px;}
.fancybox-bg{display:none;}
.h2{font-size:17px;font-weight:700;text-transform:uppercase;margin-bottom:10px;}
.p0{margin-right:15px;}
.slider{display:block;overflow:hidden;height:600px;height:50vh;text-align:center;width:100%;}
.blockwrapp, .showanyway{display:none;height:inherit;width:100%;}
.blockimage{max-height:100% !important;max-width:90% !important;}
.imgwrapper{display:table-cell;vertical-align:middle;height:inherit;}
.brand-sku-category{padding:8px 15px 0 15px;}
#swipebox-caption{font-size:14px !important;}
.butpag:hover, .button:hover, .buttonblue:hover, .purchase-remove:hover, .category_products li.product:hover, li.product .image img.active, .product_info h3.active, .purchase img.active, .buttonblue.active, #logininput.active, .button.active, .buttonred.active, #content .logreg.active{-webkit-transform:scale3d(0.94, 0.94, 1);transform:scale3d(0.94, 0.94, 1);}
.roundspag{position:absolute;top:0px;left:5px;}
.directionNav span {display:block;width:28px;height:28px;background: url(../images/arrows.png) no-repeat;text-indent: -9999px;border:0;opacity:0.6;position:absolute;top:45%;z-index:9;}
.directionNav .prev {left:15px;}
.directionNav .next {background-position: -30px 0;right:15px;}
[class*="copyrights-pane"], [class*="controls__toolbar"], [class*="controls__bottom"]{display:none !important;}
p.image-real-size,p.image-half-width,#content .image-half-width,#content .image-real-size{display:inline;margin-bottom:0;}
#content img.image-half-width, #content .image-half-width{max-width:42%;}
#content img.image-real-size, #content .image-real-size img{width:auto;}
#content .image-half-width img{max-width:100%;}
.container #youtube{width:100%;}
.mainloader{width:100%;height:100%;position:fixed;top:0;left:0;overflow:auto;z-index:10000;}
.loaderspinner{width:80px;height:80px;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;display:block;}
.cssload-loader{position:relative;left:calc(50% - 40px);width:80px;height:80px;border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;perspective:1000px;}
.cssload-inner{position:absolute;width:100%;height:100%;box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
.cssload-inner.cssload-one{left:0%;top:0%;animation:cssload-rotate-one 1.15s linear infinite;-o-animation:cssload-rotate-one 1.15s linear infinite;-ms-animation:cssload-rotate-one 1.15s linear infinite;-webkit-animation:cssload-rotate-one 1.15s linear infinite;-moz-animation:cssload-rotate-one 1.15s linear infinite;border-bottom:4px solid rgb(27,111,159);}
.cssload-inner.cssload-two{right:0%;top:0%;animation:cssload-rotate-two 1.15s linear infinite;-o-animation:cssload-rotate-two 1.15s linear infinite;-ms-animation:cssload-rotate-two 1.15s linear infinite;-webkit-animation:cssload-rotate-two 1.15s linear infinite;-moz-animation:cssload-rotate-two 1.15s linear infinite;border-right:4px solid rgb(234,46,74);}
.cssload-inner.cssload-three{right:0%;bottom:0%;animation:cssload-rotate-three 1.15s linear infinite;-o-animation:cssload-rotate-three 1.15s linear infinite;-ms-animation:cssload-rotate-three 1.15s linear infinite;-webkit-animation:cssload-rotate-three 1.15s linear infinite;-moz-animation:cssload-rotate-three 1.15s linear infinite;border-top:4px solid rgb(26,69,125);}
@keyframes cssload-rotate-one{0%{transform:rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
100%{transform:rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}
@-o-keyframes cssload-rotate-one{0%{-o-transform:rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
100%{-o-transform:rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}
@-ms-keyframes cssload-rotate-one{0%{-ms-transform:rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
100%{-ms-transform:rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}
@-webkit-keyframes cssload-rotate-one{0%{-webkit-transform:rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
100%{-webkit-transform:rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}
@-moz-keyframes cssload-rotate-one{0%{-moz-transform:rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
100%{-moz-transform:rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}
@keyframes cssload-rotate-two{0%{transform:rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
100%{transform:rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
}
@-o-keyframes cssload-rotate-two{0%{-o-transform:rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
100%{-o-transform:rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
}
@-ms-keyframes cssload-rotate-two{0%{-ms-transform:rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
100%{-ms-transform:rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
}
@-webkit-keyframes cssload-rotate-two{0%{-webkit-transform:rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
100%{-webkit-transform:rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
}
@-moz-keyframes cssload-rotate-two{0%{-moz-transform:rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
100%{-moz-transform:rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
}
@keyframes cssload-rotate-three{0%{transform:rotateX(35deg) rotateY(55deg) rotateZ(0deg);}
100%{transform:rotateX(35deg) rotateY(55deg) rotateZ(360deg);}
}
@-o-keyframes cssload-rotate-three{0%{-o-transform:rotateX(35deg) rotateY(55deg) rotateZ(0deg);}
100%{-o-transform:rotateX(35deg) rotateY(55deg) rotateZ(360deg);}
}
@-ms-keyframes cssload-rotate-three{0%{-ms-transform:rotateX(35deg) rotateY(55deg) rotateZ(0deg);}
100%{-ms-transform:rotateX(35deg) rotateY(55deg) rotateZ(360deg);}
}
@-webkit-keyframes cssload-rotate-three{0%{-webkit-transform:rotateX(35deg) rotateY(55deg) rotateZ(0deg);}
100%{-webkit-transform:rotateX(35deg) rotateY(55deg) rotateZ(360deg);}
}
@-moz-keyframes cssload-rotate-three{0%{-moz-transform:rotateX(35deg) rotateY(55deg) rotateZ(0deg);}
100%{-moz-transform:rotateX(35deg) rotateY(55deg) rotateZ(360deg);}
}
a, .product .purchasestitle{color:#333333;}
#content a:active, .dropdown-menu li.selected a{color:#EA2E49;}
.upl-trigger-prev, a.titlecomp, .product h3, #content a, .purchasestitle a{color:#1B6F9F;}
.pagination .selected,
.htabs a,
ul.tabs li,
.buttonred,
#content .logreg{background-color:#D22841;}
.tiny_products .product, .category_products .product{background-color:#fbe8e8;border-color:#d8d4d4 !important;}
.addcompare svg, .towish svg, .purchase-remove svg, .wish-remove svg, #comparebody .delete svg{fill:#EA2E49;}
.gocompare svg, .inwish svg, .purchase-remove svg:active, .wish-remove svg:active, #comparebody .delete svg:active{fill:#1a457d;}
.have-no svg, svg.nophoto{fill:#dadada;}
.breadback svg{fill:#F4F4F4;}
.hidefeaturesbtn svg{fill:#FFFFFF;}
.hidetitle svg{fill:#333333;}
#topcontrol svg{fill:#618499;}
ul.tabs li{border:1px solid #618499;}
ul.tabs li.active{background:#fbe8e8;}
ul.tabs li.active a{color:#333333 !important;}
ul.tabs li a, .various, .pagination .selected, .buttonblue, .navigationblue{color:#ffffff !important;}
.buttonblue, .navigationblue, ul.tabs li{background:#618499;}
#features,
.product-filter,
.brand-sku-category,
.product .features li:nth-child(odd),
.minorder,
#back_forward{background-color:#F4F4F4;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"],
.input_captcha,
textarea{background-color:#FFFFFF;border:2px solid #C3C3C3;}
.main-text,
div.product .imagebig,
.product .imagebig .image,
.product .imagesmall,
.purchaseslist .image,
ul#deliveries,
div.bordercell,
.pagewrapper,
.tiny_products .product .image,
.tiny_products .image img,
#content .category_products img,
.category_products .product .image,
.imgwrapper{background-color:#ffffff;}
.nonwhitebg{background-color:#F7F7F7;}
.breadcrumb, .custom-text{color:#F4F4F4;}
#amount .minus, #amount .plus{background-color:#dadada;border:0px solid #dadada;}
#reset_payment{background-color:#dadada;}
#rele, #reletwo, #amount .minus:active, #amount .plus:active{background-color:#E27C7C;}
#carttitles td, .cart-blue{background-color:#5F6874;}
.various, .comment_form .button, #logininput, .register_form .button, .login_form .button, .feedback_form .button, .cart_form .button, #orderform .button, .checkout_button{color:#ffffff;background-color:#1a457d;border:0;}
.various:hover, #logininput:hover, .button:hover, .checkout_button:hover {opacity:0.8;}
#features, .minorder, .ui-widget-content{box-shadow:0 0 10px #887E7E;}
#back_forward, .tiny_products .product, .category_products .product, #gallerypic .product, .buttonred, .buttonblue, .button, .various, .brand-sku-category, .checkout_button{box-shadow: 0 4px 4px 0 rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.05),0 1px 1px 0 rgba(0,0,0,.05);-webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.05),0 1px 1px 0 rgba(0,0,0,.05);}
#amount input{box-shadow:2px 2px 2px #B39B9B;}
.comment_form, .feedback_form{box-shadow:0px 0px 20px #E8E7E7;}
.product .features li{background-color:#FEFAFA;}
.buttonred.hover, #content .logreg:hover{background-color:#505050;border:0px solid #EB1C24;}
.hidefeaturesbtn{background-color:#5F6874;}
.hidefeaturesbtn.show{background-color:#1a457d;}
.c_coupon{background-color:#FBE7E7;}
.c_total{background-color:#1B6F9F;}
.mainproduct {background-color:#eb5858;}
.mainproduct.blue, .attention.blue {background-color:#0893b9;color:#ffffff;}
#menutop{width:100%;}
#menutop{background-color:#ea2e49;position:fixed;z-index:1101;}
#menutop{margin-top:17px;position: absolute;-webkit-box-shadow:0 1px 3px rgba(80,80,80,.30), 0 6px 10px rgba(80,80,80,.20);box-shadow:0 1px 3px rgba(80,80,80,.30), 0 6px 10px rgba(80,80,80,.20);-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);top:0;left:0;}
#menutopbody{height:50px;clear:both;display:table;width:100%;}
#menutopbody div{display:table-cell;vertical-align:middle;}
#catalog{width:50px;min-width:50px;text-align:center;}
#catalog.showcat{-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);}
#menutoptitle{width:100%;max-width:160px;text-overflow:ellipsis;overflow:hidden;color:#F4F4F4;white-space:nowrap;font-weight:700;}
#searchblock{width:45px;min-width:45px;text-align:center;}
#searchblock.show .hideloupe{display:none;}
#searchblock.show .hidecross{display:inline-block !important;}
#searchblock svg{margin-top:1px;}
#searchtopbody{margin:0px auto;width:100%;height:60px;clear:both;display:table;padding:0px 10px;}
#searchtopbody div{display:table-cell;vertical-align:middle;}
#search .input_search{height:32px;font-size:15px;display:block;float:left;border:0;padding-left:13px;outline:none;}
#catalogtop{top:0;background-color:#ffffff;position:absolute;z-index:1103;height:100%;overflow-y:auto;left:-270px;transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;}
#catalogtop.showpanel{left:0;}
#catalogtopbody{margin:0px auto 0px 0;width:270px;clear:both;display:table;padding:0px 0px 0 0;}
.blur{display:table !important;background-color:#333333;opacity:0.6;width:320px;height:100%;z-index:1102;position:absolute;}
.box-category a span{width:35px;height:26px;display:inline-block;float:right;font-size:28px;text-align:center;font-weight:400;}
.box-category ul{padding:0;list-style:none;}
.box-content ul li{color:#333745;}
.box-content ul li a, .dropdown-menu a, .box-heading{text-decoration:none;font-size:16px;-webkit-appearance:none !important;}
.dropdown-menu a, .box-heading, .box-category ul li a{line-height:26px;display:block;}
.box-content ul li ul{display:none;padding-top:4px;padding-left:0;padding-bottom:0;}
.box-content > ul > li > a{padding:6px 0px 6px 5px;display:inline-block;width:100%;height:auto;}
.box-content > ul > li ul{margin-bottom:0;padding-bottom:7px;}
.box-category > ul > li ul > li{padding:0px 0px 1px 10px;}
.box-category > ul > li ul > li > a{text-decoration:none;display:inline-block;width:100%;}
.box-category .filter-active{font-weight:700;}
ul{list-style:none;}
.dropdown-menu a{text-decoration:none;font-weight:700;}
.box-heading{font-weight:700;}
#logo{padding-bottom:21px;padding-top:21px;}
#logo img{max-width:240px;}
#cart_informer{width:40px;min-width:40px;text-align:center;}
.badge{border-radius:50%;background-color:#F4F4F4;width:auto;min-width:24px;height:24px;font-size:12px;color:#333333;top:7px;right:45px;position:absolute;border:2px solid #333333;padding:3px 3px 0 3px;}
.dropdown-menu, #catalog_menu, #catalogtopbody .box{border-bottom:2px solid #dadada;}
.usermenu{background-color:#e2e1e1;}
#catalogtopbody li, .box-heading{padding:7px 10px 7px 10px;cursor:pointer;}
#catalogtopbody li a {cursor:pointer;}
.upl-trigger-prev{margin:0px auto 15px auto;display:table;clear:both;}
.slider{height:318px;height:49vh;

width:92% !important;display:table;max-width:100%;margin:0 auto 13px auto;padding:0;}
.tiny_products .image img, svg.nophoto{max-height:150px !important;}
.tiny_products .product .image{display:table-cell;width:35%;padding:5px;height:auto;line-height:inherit;border-radius:8px 0 0 8px;}
.tiny_products .product_info.separator{display:table-cell;padding:6px 10px 6px 10px;height:auto;}
.tiny_products .product div.price, .tiny_products .product div.pricecolor{margin:13px 0 5px 0;}
.tiny_products .product_info{border-radius:0 5px 5px 0;}
.tiny_products span.price{font-size:22px !important;height:24px;}
.tiny_products span.currency{vertical-align:bottom;}
.tiny_products .hit, .tiny_products .new, .tiny_products .lowprice{margin-top:3px !important;}
.category_products{margin-top:15px;}
.category_products .product{width:92% !important;display:table;margin:0 auto 10px auto;height:100px;max-width:100%;}
.category_products .image img{max-height:80px;}
.category_products .product .image{display:table-cell;width:20%;padding:10px;background:#FFFFFF;text-align:center;vertical-align:middle;border-radius:5px 0 0 5px;height:50px;line-height:50px;}
.category_products .product_info{display:table-cell;width:80%;padding:10px;vertical-align:middle;}
.category_products .product, #wished.product{height:70px;}
#relcontent .image img, #content .category_products img, #wished .image img{max-height:50px;}
.category_products .product .image, #relcontent .image, #wished .image{width:20%;padding:5px;}
.feature_column{width:100%;}
.tiny_products .wishcomp{margin:0 -2px 0 0;}
.inwish, .towish, .addcompare, .gocompare{height:30px;width:30px;}
.wishcomp svg{height:30px;width:30px;}
.tiny_products .buttonred{padding:9px 10px 8px !important;font-size:12px !important;}
ul.tabs li{margin:0;border-radius:0;width:100%;float:none;}
ul.tabs li:nth-child(2){border-top:1px solid #dadada;border-bottom:1px solid #dadada;}
#amount{margin-top:8px;}
#amount .minus, #amount .plus{width:40px;font-size:18px;}
#amount input{height:40px;}
.price-block .price{font-size:30px;}
.price-block .compare_price{font-size:15px;height:14px;}
.price-block .currency{font-size:16px;}
.amount{width:40px !important;font-size:20px !important;margin:0 1px 0 2px;}
.umnozh{padding:14px 5px 0px 5px;font-size:12px;}
.variantsblock select{max-width:330px;}
.variantsblock{margin:0px 0 0px 0;padding-top:0px;}
.pricebig .price{font-size:30px;padding-top:12px;}
.description select{font-size:17px;}
.p0, .p1{max-width:160px;}
.description .buttonred, .description .various{width:49%;padding:12px 5px 12px 5px !important;font-size:15px !important;}
.login_form .button{width:100%;}
#gallerypic .product .image{width:auto;}
#gallerypic .image img{max-height:90% !important;}
#gallerypic .product{min-height:200px;}
.comment_list img, .blog-pg img, .page-pg img, .post-pg img{max-width:100%;width:100%;margin:0 auto 10px auto;}
#gallerypic img{max-width:90% !important;}
#content .image-real-size, #content .image-real-size img{width:auto;}
.articleimage, .articlesimage{margin-bottom:0 !important;}
#content table{overflow-x:auto;display:block;}
#content table.order_info{overflow-x:initial;}

.mpriceslider .curr{width:87px;}
.formCost input{padding:6px 8px;font-size:16px;}
.frommincurr, .tomaxcurr{margin:0}
.tiny_products .product_info.separator{padding:6px;}
.variantsblock select{max-width:280px;}
.p0, .p1{max-width:130px;height:26px;}
.description .buttonred, .description .various{width:100%;padding:12px 5px !important;}
.description .various{margin-top:10px;}
.umnozh{padding:14px 3px 0px 2px;font-size:12px;}
.price-block .price{font-size:26px;}
.pricebig .price{font-size:26px;padding-top:13px;}
.price-block .currency{font-size:13px;}
.cart-back a{font-size:13px;}


.confcheck{display:table;width:100%;margin: 15px 0 15px 0;}
.confcheck svg{float:left;margin-top:0px;height:40px;width:40px;fill:#1a457d;}
.confcheck .policywrapper{display:table;margin-left:47px;margin-top:4px;}
.confcheck .labeltxt{font-size:14px;}
.confcheck .showpolicy,.confcheck .hidepolicy{display:table;clear:both;margin-top:3px;color:#1b6f9f;border-bottom: 1px dashed #1b6f9f;}
.confcheck .confpolicy{font-size:14px;width:100%;margin-top:10px;background-color:#f5f2f2;padding:8px;text-align:justify;border-radius:5px;}
#btf_form .confpolicy,#fancybox-content .confpolicy{max-height:100px;overflow-y:auto!important;border-radius:0px;}
.confcheck .personaldata {color:#1b6f9f;border-bottom: 1px solid #1b6f9f;}
.socialauth {width:100%;display:table;clear:both;border-top:2px dashed #dadada;margin:20px 0;padding-top:20px;font-size: 18px;font-weight:700;text-transform:uppercase;}
.ulogin-buttons-container {width:100%;}
.ulogin-buttons-container div{border-radius:5px !important;}
.discountsblock {border:2px dashed #c3c3c3;display:table;width:100%;padding:7px;margin-top:20px;border-radius:10px;background-color:#f6f6f6;}
.bonus {background-color:#58a233;padding:0px 10px;border-radius:8px;line-height:32px;float:right;color:#ffffff;font-weight:700;font-size:15px;}
.stockblock {display:block;margin-bottom:0px;font-size:14px;}
.sku {margin-bottom:0px;font-size:14px;}
.skustock {margin-top:10px;}
.skustockleft {padding-right:10px;display:table-cell;vertical-align:middle;white-space:normal;}
.attention{font-weight:700;margin:15px 0;padding: 9px 11px 12px 11px;text-align:justify;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background-color:#0893b9;color:#ffffff;}
.mainproduct {padding: 9px 11px;display:table;width:100%;margin: 15px 0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;text-transform:uppercase;color:#FFFFFF;}
.tags{font-size:12px;font-style:italic;line-height:14px;}
.dontmove #menutop, .dontmove #container, .dontmove .breadcrumb, .dontmove .hidefeaturesbtn {-webkit-filter: blur(1px);-moz-filter: blur(1px);-o-filter: blur(1px);-ms-filter: blur(1px);filter: blur(1px);}
#product .block li input[type=text] {width:70px;padding:4px 5px;border:1px solid #dadada;border-radius:5px !important;}
#catalogtopbody svg {float:left;display:inline-block;margin-right:13px;}
.colorpicker input[type="text"] {border:0;background-color:transparent;border-radius:0 !important;font-size:10px;padding:0;width:37px;}
.message {height: auto; margin-bottom:0;display:table;vertical-align:middle;}
.logoimage {width:70px;display:table-cell;vertical-align:middle;}
.logoimagewrap {width:40px;height:40px;padding-top:10px;display:table;vertical-align:middle; border-radius:50%; background-color:#ffffff; margin:0 auto;;}
.logoinfo {display:table-cell;}
.logoText {font-weight:700;margin-top:5px;font-size:17px;margin-bottom:5px;}
.logoimage img {width:83%;display:table;margin: 0 auto;padding-left:1px;}
.colorPrimaryDark {height:17px;width: 100%;}
.about_window #container { height: 703px;vertical-align:middle;}
.about_window .logoimagewrap {
    width: 240px;
    height: 240px;
    padding-top: 77px;
    display: table;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 60px auto 50px auto;
	text-align: center;
	padding-left:3px;
}
.abouttext {padding:10px 10px 5px 10px;display:table;width:100%;text-align:center;}
.abouttext p{margin-bottom:5px;font-weight:700;}
.aboutText3 {margin-top:36px;display:table;width:100%;text-align:center;font-weight:700;}
.mobthemefields input {height: auto !important;}
.menuseparator .arrow {box-sizing: content-box;-webkit-box-sizing: content-box;}
